# .env.example
# Copia este archivo a .env y ajusta los valores
# El .env NO se sube a git

# SQL Server
SQLSERVER_PASSWORD=TuPassword123!

# PostgreSQL
POSTGRES_USER=sa
POSTGRES_PASSWORD=TuPassword123!
POSTGRES_DB=demo_db

# MySQL
MYSQL_ROOT_PASSWORD=TuPassword123!
MYSQL_USER=sa
MYSQL_PASSWORD=TuPassword123!
MYSQL_DB=demo_db

# IBM Db2
DB2_PASSWORD=TuPassword123!
DB2_DB=demo_db

# Oracle
ORACLE_PASSWORD=TuPassword123!
ORACLE_DB=demo_db
